{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section">
    <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
        <!-- Hero slider Active -->
        <div class="swiper-wrapper">
            <!-- Single slider item -->
            <div class="hero-slide-item slider-height-2 swiper-slide bg-color1" data-bg-image="assets/images/hero/bg/hero-bg-2-1.webp">
                <div class="container h-100">
                    <div class="row h-100 flex-row-reverse">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                            <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                <h2 class="title-1">Easy Your Life <br>
                                For Smart Device </h2>
                                <span class="price">
                                    <span class="mini-title">Only</span>
                                <span class="amount">$24.00</span>
                                </span>
                                <a href="{% url 'products' %}" class="btn btn-primary text-capitalize">Shop All Devices</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-center">
                            <div class="show-case">
                                <div class="hero-slide-image slider-2">
                                    <img src="{% static 'assets/images/hero/inner-img/hero-2-1.png' %}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single slider item -->
            <div class="hero-slide-item slider-height-2 swiper-slide bg-color1" data-bg-image="assets/images/hero/bg/hero-bg-2-1.webp">
                <div class="container h-100">
                    <div class="row h-100 flex-row-reverse">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                            <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                <h2 class="title-1">Easy Your Life <br>
                                For Smart Device </h2>
                                <span class="price">
                                    <span class="mini-title">Only</span>
                                <span class="amount">$24.00</span>
                                </span>
                                <a href="{% url 'products' %}" class="btn btn-primary text-capitalize">Shop All Devices</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-center">
                            <div class="show-case">
                                <div class="hero-slide-image slider-2">
                                    <img src="{% static 'assets/images/hero/inner-img/hero-2-1.png' %}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!-- Hero/Intro Slider End -->
<!-- Banner Area Start -->
<div class="banner-area style-two pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-banner nth-child-2 mb-lm-30px">
                    <img src="{% static 'assets/images/banner/6.webp' %}" alt="">
                    <div class="banner-content nth-child-3">
                        <h3 class="title">Speaker</h3>
                        <span class="category">From $69.00</span>
                        <a href="{% url 'products' %}" class="shop-link">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-banner nth-child-2">
                    <img src="{% static 'assets/images/banner/7.webp' %}" alt="">
                    <div class="banner-content nth-child-2">
                        <h3 class="title">Smartphone</h3>
                        <span class="category">From $95.00</span>
                        <a href="{% url 'products' %}" class="shop-link">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Product Area Start -->
<div class="product-area pb-100px">
    <div class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title">New Products</h2>
                    <p>There are many variations of passages of Lorem Ipsum available</p>
                </div>
            </div>
        </div>
        <!-- Section Title & Tab End -->
        <div class="row">
            <div class="col">
                <div class="row mb-n-30px">
                    {% for product in products %}
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                        <!-- Single Prodect -->
                        <div class="product">
                            <div class="thumb">
                                <a href="{% url 'product_detail' product.id %}" class="image">
                                    <img src="{{ product.general.url }}" alt="Product" />
                                    <img class="hover-image" src="{{ product.general.url }}" alt="Product" />
                                </a>
                            </div>
                            <div class="content">
                                <span class="category"><a href="{% url 'categories' product.category.name %}">{{ product.category.name }}</a></span>
                                <h5 class="title">
                                    <a href="{% url 'product_detail' product.id %}">
                                        {{ product.name }}
                                    </a>
                                </h5>
                                <span class="price">
                                    <span class="new">${{ product.price }}</span>
                                </span>
                            </div>
                            <div class="actions">
                                <button class="action add-to-cart" title="Cart"
                                      onclick="window.location.href='{% url 'add_to_cart' product_id=product.id %}'">
                                  <i class="pe-7s-shopbag"></i>
                                </button>
                                <button class="action wishlist" title="Wishlist"
                                        onclick="window.location.href='{% url 'add_to_wishlist' product_id=product.id %}'">
                                    <i class="pe-7s-like"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
